@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
}

body{
  background-color: rgb(173, 170, 170);
}

.header{
  width: 100%;
  height: 90px;
  background-color: black;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.718);
  padding: 8px 50px 8px 50px ;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: -100px;
  margin-top: 100px;
}

.user{
  font-size: 60px;
  color: rgb(139, 139, 139);
  margin-top: 8px;
}

.sidebar{
  width: 230px;
  background-color: rgb(255, 255, 255);
  padding: 150px 50px 50px 40px;
  height: 1000px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  position: fixed;
  top: -0px;
}

.sidebar ul{
  list-style: none;
  color: rgb(139, 139, 139);
}

.sidebar ul li {
  margin-bottom: 30px ;
  transition: 0.5s;
}

.sidebar ul li:hover{
  margin-bottom: 30px ;

  font-size: 20px;
  transition: 0.5s;
}

.links{
  text-decoration: none;
  color: rgb(139, 139, 139);
}

.links:hover{
  text-decoration: none;
  color: black;
}

.geral{
  margin: 70px 10px 0px 240px;
}

.geral h1 {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  text-align: center;
  color: rgb(139, 139, 139) ;
  font-size: 25px;
}
.boxs{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: -200px;
}

.box{
  width: 230px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718); 
  text-align: center;
  padding-top: 20%;
}

.box h4{
  font-size: 25px;
 
}

.linksHome{
  font-size: 80px;
  text-decoration: none;
  color:rgb(139, 139, 139);
  transition: 0.5s;
}

.linksHome:hover{
  font-size: 90px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}


/* Carroussel */

.carouselExt{
  background-color:rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  margin-top: 40px;
  margin-bottom: 10px;
}

.inner{
  display: flex;
  
}

.item{
  min-height: 200px;
  min-height: 400px;
  padding: 14px;
}

.item img{
  width: 250px;
  height: 400px;
  pointer-events: none;
}

.carousel{
  cursor: grab;
  overflow: hidden;
}

/* Pagina produtos */
.register{
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
}

.register h2{
  margin-bottom: 20px;
}

.register div{
  margin-bottom: 10px;
}

.registerInterno{
  width: 500px;
}

label{
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

input, select{
  width: 500px;
  height:30px;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
}

button{
  height: 30px;
  width: 150px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: black;
  color: white;
  transition: 0.1s;
}

button:hover{
  height: 31px;
  width: 153px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: black;
  color: white;
  transition: 0.1s;
  box-shadow: 2px 2px 7px 1px rgba(70, 70, 70, 0.718);
}

.search{
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  text-align: center;
}

.searchInter{
  margin-bottom: 50px;
}

.card{
  background-color:  rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(70, 70, 70, 0.718);
  width: 200px;
  padding-bottom: 10px;
  
}

.card img{
  width: 200px;
}

  