@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
}

body{
  background-color: rgb(173, 170, 170);
}

.header{
  width: 100%;
  height: 90px;
  background-color: black;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.718);
  padding: 8px 50px 8px 50px ;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: -100px;
  margin-top: 100px;
}

.user{
  font-size: 60px;
  color: rgb(139, 139, 139);
  margin-top: 8px;
}

.sidebar{
  width: 230px;
  background-color: rgb(255, 255, 255);
  padding: 150px 50px 50px 40px;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  position: fixed;
  top: -0px;
}

.sidebar ul{
  list-style: none;
  color: rgb(139, 139, 139);
}

.sidebar ul li {
  margin-bottom: 30px ;
  transition: 0.5s;
}

.sidebar ul li:hover{
  margin-bottom: 30px ;

  font-size: 20px;
  transition: 0.5s;
}

.links{
  text-decoration: none;
  color: rgb(139, 139, 139);
}

.links:hover{
  text-decoration: none;
  color: black;
}

.geral{
  margin: 70px 10px 0px 240px;
}

.geral h1 {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  text-align: center;
  color: rgb(139, 139, 139) ;
  font-size: 25px;
}
.boxs{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: -200px;
}

.box{
  width: 230px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718); 
  text-align: center;
  padding-top: 20%;
}

.box h4{
  font-size: 25px;
 
}

.linksHome{
  font-size: 80px;
  text-decoration: none;
  color:rgb(139, 139, 139);
  transition: 0.5s;
}

.linksHome:hover{
  font-size: 90px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}


/* Carroussel */

.carouselExt{
  background-color:rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  margin-top: 40px;
  margin-bottom: 10px;
}

.inner{
  display: flex;
  
}

.item{
  min-height: 200px;
  min-height: 400px;
  padding: 14px;
}

.item img{
  width: 250px;
  height: 400px;
  pointer-events: none;
}

.carousel{
  cursor: grab;
  overflow: hidden;
}

/* Pagina produtos */
.register{
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  position: fixed;
  top: 47px;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1000;
  width: 100%;
}

.register h2{
  margin-bottom: 20px;
}

.register div{
  margin-bottom: 10px;
}

.registerInterno{
  width: 600px;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 20px;
  margin-top: 10%;
  margin-left: 35%;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -20%;
  margin-top: -20%;
}

.registerInterno input{
  width: 100%;
}

.registerInterno select {
  width: 100%;
}
.registerInterno textarea {
  width: 100%;
  max-width: 100%;
  max-height: 45px;
}

.closed1{
  display: flex;
  justify-content: space-between;
}

.closed{
  font-size: 45px;
}
.closed:hover{
  box-shadow: 2px 2px 7px 1px rgba(103, 102, 102, 0.718);
  font-size: 46px;
  color: #B22222;
}

label{
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

input, select{
  width: 500px;
  height:30px;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;  
}

button{
  height: 30px;
  width: 150px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: black;
  color: white;
  transition: 0.1s;
}

button:hover{
  height: 30px;
  width: 150px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: black;
  color: white;
  transition: 0.1s;
  box-shadow: 2px 2px 7px 1px rgba(70, 70, 70, 0.718);
}

.buttonProduto button{
  margin-right: 100%;
  margin-bottom: 40px;
  height: 50px;
  font-size: 18px;
  background-color: #26874E;  
}

.search{
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  text-align: center;
}

.searchInter{
  margin-bottom: 50px;
}

.searchInter input{
  width: 400px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.card{
  background-color:  rgb(255, 255, 255);
  box-shadow: 2px 2px 7px 1px rgba(70, 70, 70, 0.718);
  width: 200px;
  padding-bottom: 10px;
  
}

.card img{
  width: 200px;
}

/* TABELA */

table, th, td{
  border: 1px solid #eae4e4;
} 

table{
  border-collapse: collapse;
  width: 100%;
}

tr{
  background-color: #DCDCDC;
}

th, td{
  padding: 8px;
}

th{
  height: 40px;
  vertical-align: bottom;
}

.buttonView{
  width: 80px;
  height: 30px;
  margin-right: 10px;
  background-color: #6495ED	;
}
.buttonView:hover{
  width: 80px;
  height: 30px;
  margin-right: 10px;
  background-color: #6495ED	;
}

.buttonEdit{
  width: 80px;
  height: 30px;
  margin-right: 10px;
  background-color: #DAA520		;
}
.buttonEdit:hover{
  width: 80px;
  height: 30px;
  margin-right: 10px;
  background-color:#DAA520		;
}

.buttonDelete{
  width: 80px;
  height: 30px;
  margin-right: 10px;
  background-color: #B22222;
}
.buttonDelete:hover{
  width: 80px;
  height: 30px;
  margin-right: 10px;
  background-color: #B22222;
}

.viewProduct2{
  width: 100%;
  height: 525px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 30px; 
}

.viewProduct2 img{
  width: 350px;
}

.viewProduct2 h2{
  font-size: 45px;
}

.viewProduct2 h4{
  font-size: 24px;
}

.viewProduct2 h5{
  font-size: 25px;
}

.viewProduct2 p{
  font-size: 22px;
}


.buttonClient button{
  margin-right: 100%;
  margin-bottom: 40px;
  height: 50px;
  font-size: 18px;
  background-color: #6495ED;  
}